#brush {
    -fx-background-image: url("icons/brushes24.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#eraser {
    -fx-background-image: url("icons/erase15.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#text {
    -fx-background-image: url("icons/sphere.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#rectangle {
    -fx-background-image: url("icons/basic9.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}